*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: rgb(255, 255, 255);
    line-height: 1.6;
    padding: 20px;
}
#main{
    max-width: 700px;
    margin: auto;
    background: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#nav{
    width: 90%;
    height: 60px;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: azure;
    border-radius: 45px;
}

.nav-item{
    text-decoration: none;
    width: 75px;
    height: 40px;
    /* text-align: center; */
    font-size: 15px;
    padding: 18%;
    background-color: rgb(59, 45, 45);
    border-radius: 50px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    color:aliceblue;
    box-shadow: #686161;
}
#list{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
#content{
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.8;
}
#Name{
    justify-items: center;
    font-size: 15px;
    border-radius: 30px;
    width: 175px;
    height: fit-content;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(59, 45, 45);
}
p{
    margin: 0;
}
#intro{
    padding-top: 20px;
    line-height: 1;
    font-size: 60px;
    justify-items: center;
    text-transform: uppercase;
    text-align: center;
    /* margin-bottom: 20px; */
}
h2{
    text-align: center;
    
}
#collegeName{
    padding-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
#startButton{
    
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    /* cursor: pointer; */
}
button{
    border-radius: 18px;
    padding: 10px 20px;
    height: fit-content;
    color: black;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background: rgb(255, 255, 255);

}